.management-image img {
    opacity: .9;
    width: 100%; /* Make the image responsive and cover the container width */
   height: 400px; /* Maintain aspect ratio */
    display: block; /* Remove extra spacing below the image */
    margin: 0 auto; /* Center the image horizontally */
    width: 100%;

  }
  
/* Caption overlay styling */
.management-caption {
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 7vw; /* Adjust as needed */
    font-weight: bold;
    text-align: center;
 
    z-index: 1; /* Ensure it stays above the image */
  }
  /* CSS for heading animation */
.heading1 {
    display: inline-block;

    white-space: nowrap;
    font-size: clamp(1.6rem, 5vw, 5rem);
}

.letter1 {
    display: inline-block;
    opacity: 0; /* Initially hidden */
    transform: translateY(-5px); /* Initially above the view */
    transition: opacity 0.9s ease, transform 0.5s ease; /* Faster transition */
}

.animate-heading1 .letter1 {
    opacity: 1; /* Becomes visible */
    transform: translateY(0); /* Moves into place */
    transition-delay: calc(var(--i) * 0.07s); /* Faster staggered animation */
}
  /* CSS for caption animation */
  .management-caption {
    display: inline-block;
    opacity: 0;
    transform: translateX(50px); /* Start from 50px to the right */
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .management-caption.animate-caption1 {
    opacity: 1;
    transform: translateX(0); /* End at its original position */
  }
  
  /* CSS for letter animation within the caption */
  .management-caption .letter1 {
    display: inline-block;
    opacity: 0;
    transform: translateX(50px); /* Each letter starts from 50px to the right */
    transition: opacity .5s ease-out, transform 1s ease-out;
  }
  
  .management-caption.animate-caption1 .letter1 {
    opacity: 1;
    transform: translateX(0); /* Each letter ends at its original position */
    transition: opacity 0.8s ease-out, transform 1s ease-out;
    transition-delay: calc(var(--i) * 0.3s); /* Stagger the animation */
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #000; /* Bottom border for inputs */
    border-radius: 0;
    font-size: 1rem;
    margin-bottom: 10px;
    transition: border-color 0.3s ease;
  }
  
  .form-input:focus {
    border-color: #007bff; /* Change border color on focus */
    outline: none;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  